/* Общие стили для всего документа */
* {
  /* Устанавливаем шрифт и размер текста */
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Стили для элементов слов */
.word {
  /* Устанавливаем ширину и высоту элементов */
  width: 90%;
  /* Устанавливаем рамку и отступы элементов */
  border: 1px solid gray;
  margin: 3vh;
  /* Устанавливаем выравнивание текста внутри элементов */
  text-align: center;
  font-size: 4vw;
  /* Устанавливаем курсор в виде руки при наведении на элементы */
  cursor: pointer;
}

/* Стиль для контейнера при наведении на слово */
.word:hover {
  /* Устанавливаем цвет фона при наведении */
  background-color: yellow;
}

/* Стили для выделенных элементов слов */
.word.selected {
  /* Устанавливаем цвет фона и текста для выделенных элементов */
  background-color: green;
  color: white;
}

/* Стили для элемента счета */
#score {
  /* Устанавливаем расположение элемента */
  float: left;
  top: 20px;
  left: 20px;
  /* Устанавливаем размер и жирность текста */
  font-size: xxx-large;
  font-weight: bold;
}

/* Стили для элемента времени */
#time {
  /* Устанавливаем расположение элемента */
  float: right;
  top: 20px;
  right: 20px;
  /* Устанавливаем размер и жирность текста */
  font-size: xxx-large;
  font-weight: bold;
}

/* Стили для элемента конца игры */
#game-over {
  /* Устанавливаем расположение элемента */
  position: absolute;
  top: 50%;
  left: 50%;
  /* Устанавливаем смещение элемента относительно центра */
  transform: translate(-50%, -50%);
  /* Устанавливаем размер и жирность текста */
  font-size: 48px;
  font-weight: bold;
  /* Устанавливаем цвет текста */
  color: white;
  background-color: gray;
  width: 100%;
  text-align: center;
}

/* Стили для элемента конца игры */
#game-over2 {
  /* Устанавливаем размер и жирность текста */
  font-size: 48px;
  font-weight: bold;
  /* Устанавливаем цвет текста */
  color: white;
  background-color: gray;
  width: 100%;
  text-align: center;
}

/* Стили для элемента кнопки перезапуска */
#restart {
  /* Устанавливаем расположение элемента */
  position: absolute;
  bottom: 20px;
  left: 50%;
  /* Устанавливаем смещение элемента относительно центра */
  transform: translateX(-50%);
  /* Устанавливаем размер и жирность текста */
  font-size: 32px;
  font-weight: bold;
  /* Устанавливаем цвет фона и текста */
  background-color: blue;
  color: white;
  /* Устанавливаем рамку и скругление углов */
  border: none;
  border-radius: 10px;
  /* Устанавливаем курсор в виде руки при наведении на элемент */
  cursor: pointer;
}
